<div style="font-family: sans-serif; font-weight: 200">
	<div style="background-color: #CAA0FF; padding: 15px">
		<img style="width: 50px; border-radius: 50px" src="https://devkiloton.github.io/Host/adaptive-icon.png"/>
		<p style="color: white; margin: 30px 0 0 0; font-size: 1.5rem">Você é um Xarlat Tester</p>
	</div>
    <div style="padding: 15px">
    <p style="color: #B453FF">Oi, {{name}}!</p>
    <p>Ficamos muito felizes em ver que você se cadastrou para testar o Xarlat antes de que ele seja lançando oficialmente.
    <p/>
    <p>
    Saiba que se você recebeu esse convite é por que <b>confiamos muito em você</b> e achamos que você tem muito valor a agregar com sua opinião! Sim, ela é realmente importante para nós, não é bla bla bla.
    </p>
    <p>
    O app será lançado em breve e iremos te informar assim que ele estiver disponível para download. 
    </p>
    <p>
    Se tiver alguma dúvida, não hesite em nos chamar. Estamos sempre a disposição!
    </p>
    <p><b>
    Abraços,<br>Equipe Xarlat.</b>
    </p>
    </div>
</div>